/* Generic */

.link {
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

.nav-item {
  border-left: 1px solid #eee;
  padding: 12px;
  cursor: pointer;
  &:hover {
    background-color: #555;
  }
}

/* Table */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

/* Pagination */
.pagination-link {
  padding: 10px 13px;
}

/* Footer */

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

// Override default variables before the import

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";
